/* Header start */
body {
    margin: 0px;
}

header {
    height:217px;
    background-color: #d9d9d9;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    display: inline;
}

header nav li{
    padding-left:60px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 1em;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

li {
    float: left;
}

#main_image {
    height:150px;
}
/* Header end */

/* Footer start */
div.footer {
    height: 50px;
    background-color: #d9d9d9;
}

p.copyright-text{
    text-align: center;
    padding-top:18px;
    font-size: 12px;
    margin: -5px 0px;
}
/* Footer end */

/* Home page start */
.main_park {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.park {
    display: flex;
    padding: 0px 10px;
}

.main_park_text {
    padding: 0px 20px;
}
/* Home page end */

/* Survey start */
.survey_container {
    padding: 300px;
}
/* Survey end */

/* Survey result start */
.survey_result {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}

.survey {
    display: flex;
    padding: 2px 10px;
}

.survey_text {
    padding: 0px 20px;
}

p.votes {
    font-size: 30px;
    font-weight: bolder;
}
/* Survey result end */

/* Detail page start */

/* Detail page end */